@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  @apply bg-slate-50 text-slate-900 antialiased;
}

/* safe area per notch mobile */
.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}